body,html{
	width:100%;
	height:100%;
	margin:0;
	font-size:16px;
	font-family:"Lato", sans-serif;
	font-weight:400;
	line-height: 200%;
	color:#667;
	
}

html{
	box-sizing:border-box;
}

img{

	max-width:100%;
}

.nav,.navbar-nav, .navbar-right{
	margin: 0 0 0 0;
}

.testgrid{
	margin-top:50px;

	color:#ff2f00;
}


.pimg1,.pimg2,.pimg3{
	position:relative;
	opacity:0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	/*
		fixed = parallax
		scroll = normal
	*/
	background-attachment: fixed;
}

.pimg1{
	height: 50%;
	background-image:url('../img/adventureimg.jpeg');
	min-height:100%;
	line-height: 80px;
	
}

.pimg2{
	background-image:url('../img/keyboardimg.jpeg');
	min-height:400px;
	line-height: 80px;
	
}

.pimg3{
	background-image:url('../img/bookimg.jpeg');
	min-height:400px;
	line-height: 80px;
	
}

.h1title{
	text-align:center;
	margin-bottom:100px;
	margin-left:150px;
	

}


.section{
	text-align:left;
	padding: 10px 20% 70px 10%;
	
}

.section-light{
	
	background-color: #f4f4f4;
	color:#667;
}


.section-dark{
	background-color: #282e34;
	color:#ddd;
}
.container{
	width: 100%;
	
}
.container{
	text-align: center;
	
	padding: 0 0 0 0;
}

.containerimage{
	text-align: center;
	
}
.grid-container{
 	text-align:center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:10px;
}

.grid-container2{
 	text-align:center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:10px;
}


.bordersection{
	margin-top:50px;
	margin-left:80px;
 	padding-left:50px;
 	margin-bottom: 50px;
	text-align:center;
	border-bottom:5px solid #ddd;
}



.website1{

	width:90%;
	height:70%;
	
}

.websitelink:hover{

	border:3px solid #fff;
	cursor:pointer;
}
.website1 p{

	float:left;
	margin: 0 0px 70px 0px;

}


.website2{

	width:90%;
	height:70%;
	
}
.website2 p{

	float:left;
	margin: 0 0px 70px 0px;


}

.website3{

	width:90%;
	height:70%;
	
}

.website4{
	
	width:90%;
	height:70%;

}

.website5{
	
	width:90%;
	height:500px;

}


.website3 p{

	float:left;
	margin: 0 0px 70px 0px;
}

.website4 p{
	text-align:left;
	float:left;
	margin: 0 0px 70px 0px;
}


.ptext{
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	color:#000;
	font-size: 27px;
	letter-spacing:8px;
	
	text-transform:uppercase;
}

p .intro{
	font-size:32px;
	font-weight: 300;
	margin:0 100% 0 0;
}

.ptext .border{
	background-color:#111; 
	color:#fff;
	padding:20px;
}

.ptext .border .trans{
	background-color:transparent;
}

@media(max-width:700px){
	.pimg1, .pimg2, .pimg3{	
		background-attachment: scroll;	
	}
	
	.h1title{
		margin-left:0px;
	}
	
	
	.ptext{
		font-size:18px;
	}
	
	.ptext .border{
		padding:5px;
	}
	
	.grid-container{
		text-align:center;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap:5px;
	}
	
	.bordersection{

		margin-bottom: 50px;
		text-align:center;
		border-bottom:5px solid #ddd;
}
	
	.grid-container2{
		margin-left:0px;
		padding-left:0px;
		text-align:center;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap:5px;
	}
	
}